---
all:
  vars:
    base_results_dir: /tmp/compliance_scans
    enable_debug: true
    ansible_ssh_private_key_file: ~/.ssh/inspec_azure

  hosts:
    40.114.45.75:
      ansible_user: azureuser
      ansible_python_interpreter: /usr/bin/python3

  children:
    mssql_databases:
      hosts:
        mssql_azure_test:
          mssql_server: 10.0.2.4
          mssql_port: 1433
          mssql_version: "2019"
          mssql_username: sa
          mssql_password: 'FCmGkCGWbmyxqrffStr0ng\!'
          mssql_database: master
          inspec_delegate_host: 40.114.45.75
          ansible_host: 40.114.45.75
          ansible_user: azureuser
          ansible_python_interpreter: /usr/bin/python3
